@font-face {
    src: url('../fonts/Gotham/14078.ttf');
    font-family: 'Gotham';
}

@font-face {
    src: url('../fonts/lato/9622.ttf');
    font-family: 'Lato';
}

@font-face {
    src: url('../fonts/lato/Lato-Medium.ttf');
    font-family: 'Lato-Medium';
}

@font-face {
    src: url('../fonts/icofont/fonts/icofont.ttf');
    font-family: 'Icofont';
}

@font-face {
    src: url('../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf');
    font-family: 'Fontawesome';
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

.header {
    position: fixed;
    z-index: 2222;
    min-width: 1200px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2)
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.1;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    padding-bottom: 12px;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item:nth-child(n+2) {
    padding-left: 30px;
}

.navbar-item-link {
    color: #ffffff;
}

.active {
    color: #bc4343;
}

.top-five {
    height: 169px;
    background-color: #7ada50;
    align-items: flex-end;
}

.top-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 20px;
}

.top-list>li {
    font-family: FontAwesome;
    font-size: 0.9em;
    list-style-type: none;
}

.top-list>li:nth-child(n+1) {
    margin-top: 3px;
}

.top-header {
    margin-right: 15px;
    margin-bottom: 30px;
    text-align: end;
}

.fa-bolt {
    color: red;
    margin-right: 3px;
}

.newspage {
    position: relative;
    width: 100%;
    margin: 10px 5px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid black;
}

.card:nth-child(1n+4) {
    margin-top: 10px;
}

.card-content {
    width: 100%;
    font-size: 0.8em;
}

.card_text {
    display: block;
    text-align: center;
    font-style: italic;
    word-wrap: wrap;
}

.card-image {
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}