.shows-schedule {
    background-image: url("../img/show.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    height: 100%;
}

.page-header {
    position: static;
    color: #e3c945;
    z-index: 4;
    text-align: center;
    margin-top: 3%;
}

.month {
    font-weight: bold;
    font-size: 2em;
    color: #c21111;
    border-top: 5px ridge #c21111;
    border-bottom: 5px ridge #c21111;
    border-right: 5px ridge #c21111;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    animation-delay: 900ms;
}

.header {
    top: 0;
}

td {
    border: 5px outset #c21111;
    border-collapse: collapse;
}