.shows-schedule {
    background-image: url("../img/show.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    height: 100%;
}

.page-header {
    position: static;
    color: #e3c945;
    z-index: 4;
    text-align: center;
    margin-top: 3%;
}

.month {
    font-weight: bold;
}

.header {
    top: 0;
}