@font-face {
    font-family: Open Sans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

#logo-img {
    height: 30%;
    width: 30%;
    opacity: 0.6;
}

.header {
    position: fixed;
    z-index: 2222;
    min-width: 1200px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2)
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    padding-bottom: 12px;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item:nth-child(n+2) {
    padding-left: 30px;
}

.navbar-item-link {
    color: #ffffff;
}

.newsblock {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: inline-block;
}

.news-image {
    filter: brightness(40%)
}

.slide-caption {
    color: white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 22px;
    position: absolute;
    bottom: 67px;
    left: 49px;
}

.slide-text {
    line-height: 55px;
    width: 100%;
    color: white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 124px;
    left: 17px;
}

.showsblock {
    background-image: url('../img/dio.jpg');
    background-size: cover;
    overflow: hidden;
    position: static;
    height: 623.5px;
}