@font-face {
    font-family: Open Sans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
    min-width: 1200px;
    min-height: 450px;
    background-image: url("https://avatars.mds.yandex.net/get-pdb/1932541/4faba33f-85a5-4e30-94a0-2d96478eac08/s1200");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    color: #ffffff;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    padding-bottom: 12px;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item:nth-child(n+2) {
    padding-left: 30px;
}

.navbar-item-link {
    color: #ffffff;
}

.container2 {
    position: relative;
    z-index: 1;
    width: 736px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
}

.header-title {
    font-size: 45px;
    font-weight: bold;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1170px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}