@font-face {
    font-family: Open Sans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

#logo-img {
    height: 30%;
    width: 30%;
    opacity: 0.6;
}

.header {
    position: relative;
    min-width: 1200px;
    height: 400px;
    background-image: url("https://avatars.mds.yandex.net/get-pdb/1932541/4faba33f-85a5-4e30-94a0-2d96478eac08/s1200");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    color: #ffffff;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    padding-bottom: 12px;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item:nth-child(n+2) {
    padding-left: 30px;
}

.navbar-item-link {
    color: #ffffff;
}

.container2 {
    position: relative;
    z-index: 1;
    width: 736px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
}

.header-title {
    font-size: 45px;
    font-weight: bold;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
}

.page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    width: 200px;
    height: 400px;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img-box {
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.content-header>h3 {
    word-break: break-word;
    text-align: center;
    border-top: 1px solid black;
}

.card-pic {
    padding-top: 5px;
    width: 150px;
    height: 150px;
    margin-left: 24.2px;
    margin-left: 24.2px;
}

.footer {
    width: 1170px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background-color: #B19893;
}

.copyright {
    margin-top: 70px;
    margin-bottom: 33px;
}

.copyright-text {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.social-buttons {
    background-color: #B19893;
}

.socials-list {
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
}

.socials-item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.socials-link {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
}

.socials-link-facebook {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.socials-link-instagram {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.visually-hidden {
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
}

.navbar-item-link:hover {
    color: #000000;
}

.shows {
    margin-top: 20px;
    margin-bottom: 20px;
}